PORT=4000
HOST=0.0.0.0
CORS_ORIGIN=*
DATA_DIR=./data
GEMINI_API_KEY=
WORLD_CUP_2026_SOURCE_URL=https://raw.githubusercontent.com/openfootball/worldcup.json/refs/heads/master/2026/worldcup.json
WORLD_CUP_2026_CACHE_TTL_MS=86400000
